.comment {
  background-color: $grey-lightest;
  box-shadow: 0 1px 1px $grey-lighter;
  margin-top: 5px;
  font-size: .8em;
  padding: 10px;
  list-style: none;
  color: $grey;
}

.comment--disabled {
  opacity: .3;
}

.comment__author {
  width: 100%;
  float: left;

  @include respond-to(handhelds) {
    width: 10%;
  }
}

.comment__author-image {
  width: 30px;
  border-radius: 2px;
}

.comment__body {
  width: 100%;
  float: right;

  @include respond-to(handhelds) {
    width: 90%;
  }
}