$svg-path: '../resources/svg/';

.i-svg {
  background-repeat: no-repeat;
  display: inline-block;
}

.i-svg-20 {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.i-svg-15 {
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
}

.i-svg__star-grey {
  background-image: url($svg-path + 'star_grey.svg');
}

.i-svg__star-filled {
  background-image: url($svg-path + 'star_filled.svg');
}

.i-svg__arrow-up {
  background-image: url($svg-path + 'arrow_up.svg');
}

.i-svg__arrow-down {
  background-image: url($svg-path + 'arrow_down.svg');
}

.i-svg__comment {
  background-image: url($svg-path + 'comment.svg');
}