.u-margin--none {
  margin: 0;
}

.u-margin-bottom--none {
  margin-bottom: 0;
}

.u-margin-top-bottom--s {
  margin: 10px 0;
}

.u-margin-top-bottom--m {
  margin: 15px 0;
}

.u-margin-top-bottom--xl {
  margin: 30px 0;
}

.u-margin-top--xs {
  margin-top: 5px;
}

.u-margin-top--s {
  margin-top: 10px;
}

.u-margin-top--m {
  margin-top: 15px;
}

.u-margin-bottom--s {
  margin-bottom: 10px;
}

.u-margin-bottom--m {
  margin-bottom: 15px;
}

.u-margin--none-auto {
  margin: 0 auto;
}

.u-margin-right--m {
  margin-right: 10px;
}

.u-margin-right--s {
  margin-right: 5px;
}