.post {
  border: 1px solid $grey-lighter;
  box-shadow: 0 1px 4px $grey-lighter;
  padding: 10px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 2px;
}

.post__author {
  margin: 0;
}

.post__author-image {
  width: 50px;
  border-radius: 2px;
}

.post__author-name {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

.post__nav {
  background-color: $grey-lighter;
}